*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(20 39 53);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px 3px 10px;
    position: sticky;
    top: 0px;
    z-index: 5;
}
nav a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: beige;
}
.name{
    display: flex;
    flex-direction: row;
    min-width: 200px;
}
.name img{
    height: 40px;
    width: 60px
}
.sign{
    display: flex;
    align-items: center;
}
.sign button{
    padding: 5px;
    background-color: rgb(46, 87, 139);
    color: rgb(237, 252, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
    cursor: pointer;
    margin: 5px;
}
.sign img{
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.three_line{
    display: none;
    flex-direction: column;
}
.three_line .line{
    height: 5px;
    width: 35px;
    margin: 2.5px;
    border-radius: 5px;
    background-color: rgb(46, 87, 139);
}
.sign_small{
    position: absolute;
    top: 50px;
    right: 10px;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    z-index: 5;
    padding: 10px;
    background-color: #fff;
}
.sign_small button{
    width: 100%;
    border: none;
}
.slider_box{
    position: relative;
    width: 90%;
    margin: 0px auto;
}
.slider_box .left{
    position: absolute;
    top: 45%;
    left: 10px;
    border-radius: 3vw;
    background-color: #00000087;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    font-size: 2.7vw;
    cursor: pointer;
    z-index: 2;
}
.slider_box .right{
    position: absolute;
    top: 45%;
    right: 10px;
    border-radius: 3vw;
    background-color: #00000087;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    font-size: 2.7vw;
    cursor: pointer;
    z-index: 2;
}
.slider{
    width: 100%;
    margin: 30px auto;
    overflow-x: hidden;
}
.slide{
    width: fit-content;
    transition: 0.7s;
    display: inline-flex;
}
.slider img{
    width: 90vw;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 95vw;
    margin: 10px auto;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.section::-webkit-scrollbar{
    display: none;
}
.list{
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    min-width: 100%;
    margin: 10px 20px 40px 20px;
}
.item_box{
    border: 1px solid black;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}
.item_box img{
    width: 80%;
    max-height: auto;
}
.error_msg{
    font-weight: 700;
    color: red;
}


@media only screen and (max-width: 405px){
    .sign{
        display: none;
    }
    .three_line{
        display: flex;
    }
}