{% extends 'layout.html' %}
{% load static %}
{% block title %}Store{% endblock %}
{% block body %}
    <div class="slider_box">
        <div class="left" onclick="slide_right()"> <span><</span> </div>
        <div class="slider">
            <div class="slide">
                <img src="{% static 'img/slide1.png' %}" alt="">
                <img src="{% static 'img/slide1.png' %}" alt="">
                <img src="{% static 'img/slide1.png' %}" alt="">
                <img src="{% static 'img/slide1.png' %}" alt="">
                <img src="{% static 'img/slide1.png' %}" alt="">
                <img src="{% static 'img/slide1.png' %}" alt="">
            </div>
        </div>
        <div class="right" onclick="slide_left()"> > </div>
    </div>
    <h2>&nbsp; &nbsp;Popular collections {{login}}</h2>
    <div class="section">
        <div class="list">
            {% for i in items %}
                <div class="item_box">
                    <img src="/media/{{i.img}}" alt="">
                    <div class="details"><p style="font-size: 1rem;">{{i.book_name}}</p><p style="font-size: 0.7rem; opacity: 0.9;">by {{i.Author}}</p><p style="font-size: 0.9rem;">Price : <b>Rs {{i.price}}</b> </p></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2>&nbsp; &nbsp;Best seller</h2>
    <div class="section">
        <div class="list">
            {% for i in '1234567890' %}
                <div class="item_box">
                    <img src="/media/{{items.0.img}}" alt="">
                    <div class="details"><p style="font-size: 1rem;">{{items.0.book_name}}</p><p style="font-size: 0.7rem; opacity: 0.9;">by {{items.0.Author}}</p><p style="font-size: 0.9rem;">Price : <b>Rs {{items.0.price}}</b> </p></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2>&nbsp; &nbsp;Devas</h2>
    <div class="section">
        <div class="list">
            {% for i in items %}
                <div class="item_box">
                    <img src="/media/{{i.img}}" alt="">
                    <div class="details"><p style="font-size: 1rem;">{{i.book_name}}</p><p style="font-size: 0.7rem; opacity: 0.9;">by {{i.Author}}</p><p style="font-size: 0.9rem;">Price : <b>Rs {{i.price}}</b> </p></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        var page = 0;
        document.getElementsByClassName('left')[0].style.display='none';
        function slide_left(){
            page++;
            document.getElementsByClassName('slide')[0].style.transform='translateX(-' + (page*90) + 'vw)';
            if(page==5){
                document.getElementsByClassName('right')[0].style.display='none';
            }
            else{
                document.getElementsByClassName('right')[0].style.display='flex';
                document.getElementsByClassName('left')[0].style.display='flex';
            }
        }
        function slide_right(){
            page--;
            document.getElementsByClassName('slide')[0].style.transform='translateX(-' + (page*90) + 'vw)';
            if(page==0){
                document.getElementsByClassName('left')[0].style.display='none';
            }
            else{
                document.getElementsByClassName('right')[0].style.display='flex';
                document.getElementsByClassName('left')[0].style.display='flex';
            }
        }
        var initialX = 0;
        var initialY = 0;
        var finalX = 0;
        var finalY = 0;
        document.getElementsByClassName('slider')[0].addEventListener('touchstart', function(event) {
            initialX = event.screenX;
            initialY = event.screenY;
        }, false)
        document.getElementsByClassName('slider')[0].addEventListener('touchend', function(event) {
            finalX = event.screenX;
            finalY = event.screenY;
            if(initialX < finalX){
                slide_right();
            }
            else if(initialX > finalX){
                slide_left();
            }
        }, false)
        setInterval(autoswipe, 5000);
        function autoswipe(){
            if(page==5){
                page=0;
                document.getElementsByClassName('slide')[0].style.transition = 'none';
                document.getElementsByClassName('slide')[0].style.transform='translateX(-' + 0 + 'vw)';
                document.getElementsByClassName('left')[0].style.display='none';
                document.getElementsByClassName('right')[0].style.display='flex';
            }
            else{
                document.getElementsByClassName('slide')[0].style.transition = '0.7s';
                slide_left();
            }
        }
    </script>
{% endblock %}