{% extends 'layout.html' %} {% load static %} {% block title %}Store{%endblock%} {% block body %}
<div class="slider_box">
  <div class="heading">
    <h1>
      Read all your fav book <br />
      at one place.
    </h1>
  </div>
  <div class="left" onclick="slide_right()"><span><</span></div>
  <div class="slider">
    <div class="slide">
      <img class="allImgs" src="{% static 'img/im1.jpg' %}" alt="" />
      <img class="allImgs" src="{% static 'img/im2.jpg' %}" alt="" />
      <img class="allImgs" src="{% static 'img/im3.jpg' %}" alt="" />
      <img class="allImgs" src="{% static 'img/im4.jpg' %}" alt="" />
      <img class="allImgs" src="{% static 'img/im5.jpg' %}" alt="" />
      <img class="allImgs" src="{% static 'img/im6.jpg' %}" alt="" />
    </div>
  </div>
  <div class="right" onclick="slide_left()">></div>
</div>
<div class="types">
  <div class="logo"></div>
  <div class="logo"></div>
  <div class="logo"></div>
  <div class="logo"></div>
  <div class="logo"></div>
  <div class="logo"></div>
</div>
<hr />
<div class="popCol">
  <h2>Popular collections</h2>
  <div class="section">
    <div class="list">
      {% for i in items %}
      <div class="item_box">
        <img src="/media/{{i.img}}" alt="" />
        <div class="details">
            <span class="bookName" style="padding: 20px 0 10px;">{{i.book_name}}</span>
            <span class="authName" style="padding: 10px;">by- {{i.Author}}</span>
            <span class="price" style="padding: 10px;">Price :  <b>Rs.{{i.price}}/-</b></span>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="viewBth">View All</button>
  </div>
</div>
<hr />
<div class="popCol">
<h2>Best seller</h2>
<div class="section">
  <div class="list">
    {% for i in '1234567890' %}
    <div class="item_box">
      <img src="/media/{{items.0.img}}" alt="" />
      <div class="details">

        <span class="bookName" style="padding: 20px 0 10px;">{{items.0.book_name}}</span>
        <span class="authName" style="padding: 10px;">by {{items.0.Author}}</span>
        <span class="price" style="padding: 10px;">Price : <b>Rs.{{items.0.price}}/-</b></span>
        {% comment %} <span>{{items.0.book_name}}</span>
        <span>by {{items.0.Author}}</span>
        <span>Price :Rs {{items.0.price}}/-</span> {% endcomment %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

<hr />
<div class="proCol">
    <h2>Devas</h2>
    <div class="section">
        <div class="list">
            {% for i in items %}
            <div class="item_box">
                <img src="/media/{{i.img}}" alt="" />
                <div class="details">
                    <span class="bookName" style="padding: 20px 0 10px;">{{i.book_name}}</span>
                    <span class="authName" style="padding: 10px;">by- {{i.Author}}</span>
                    <span class="price" style="padding: 10px;">Price :  <b>Rs.{{i.price}}/-</b></span>
                    {% comment %} <span>{{i.book_name}}</span>
                    <span>by {{i.Author}}</span>
                    <span>Price :Rs {{i.price}}</span> {% endcomment %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
  var page = 0;
  document.getElementsByClassName("left")[0].style.display = "none";
  function slide_left() {
    page++;
    document.getElementsByClassName("slide")[0].style.transform =
      "translateX(-" + page * 100 + "vw)";
    if (page == 5) {
      document.getElementsByClassName("right")[0].style.display = "none";
    } else {
      document.getElementsByClassName("right")[0].style.display = "flex";
      document.getElementsByClassName("left")[0].style.display = "flex";
    }
  }
  function slide_right() {
    page--;
    document.getElementsByClassName("slide")[0].style.transform =
      "translateX(-" + page * 100 + "vw)";
    if (page == 0) {
      document.getElementsByClassName("left")[0].style.display = "none";
    } else {
      document.getElementsByClassName("right")[0].style.display = "flex";
      document.getElementsByClassName("left")[0].style.display = "flex";
    }
  }
  var initialX = 0;
  var initialY = 0;
  var finalX = 0;
  var finalY = 0;
  document.getElementsByClassName("slider")[0].addEventListener(
    "touchstart",
    function (event) {
      initialX = event.screenX;
      initialY = event.screenY;
    },
    false
  );
  document.getElementsByClassName("slider")[0].addEventListener(
    "touchend",
    function (event) {
      finalX = event.screenX;
      finalY = event.screenY;
      if (initialX < finalX) {
        slide_right();
      } else if (initialX > finalX) {
        slide_left();
      }
    },
    false
  );
  setInterval(autoswipe, 5000);
  function autoswipe() {
    if (page == 5) {
      page = 0;
      document.getElementsByClassName("slide")[0].style.transition = "none";
      document.getElementsByClassName("slide")[0].style.transform =
        "translateX(-" + 0 + "vw)";
      document.getElementsByClassName("left")[0].style.display = "none";
      document.getElementsByClassName("right")[0].style.display = "flex";
    } else {
      document.getElementsByClassName("slide")[0].style.transition = "0.7s";
      slide_left();
    }
  }
</script>
{% endblock %}